<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<!-- the standard-console-appender -->
		<Console name="appender-Console-all" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{DEFAULT} %-5level [%t] %logger{2} - %msg%n" />
		</Console>
		
		<!-- Only prints INFO and worse -->
		<RollingFile name="FILE-NORMAL" fileName="${sys:user.home}/Weather Link Live GUI Data/weatherLink.log" 
			filePattern="${sys:user.home}/Weather Link Live GUI Data/weatherLink-%i.log">
			<PatternLayout pattern = "%d{DEFAULT} %-5level [%t] %logger{2} - %msg%n"/>
			<Filters>
				<ThresholdFilter level="INFO"/>
			</Filters>
			<Policies>
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
			<DefaultRolloverStrategy max="2"/>
		</RollingFile>

		<!-- Prints everything -->
		<RollingFile name="FILE-DEBUG" fileName="${sys:user.home}/Weather Link Live GUI Data/weatherLinkDebug.log"
			filePattern="${sys:user.home}/Weather Link Live GUI Data/weatherLinkDebug-%i.log">
			<PatternLayout pattern = "%d{DEFAULT} %-5level [%t] %logger{2} - %msg%n"/>
			<Filters>
				<ThresholdFilter level="ALL"/>
			</Filters>
			<Policies>
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
			<DefaultRolloverStrategy max="2"/>
		</RollingFile>
	</Appenders>
 
	<Loggers>
		<!-- Every configuration must have a root logger. If one is not configured the default root LoggerConfig is ERROR with Console appender attached. -->
		<Root level="INFO">
			<AppenderRef ref="appender-Console-all" level="INFO" />
			<AppenderRef ref="FILE-DEBUG" />
			<AppenderRef ref="FILE-NORMAL" />
		</Root>

		<!-- By default, all loggers in the system are set to ERROR or worse.  To enable more verbose logging
			for a specific logger, or a logger package - define a 'logger' configuration as below, with the desired level. -->
		<logger name="net.sagebits" level="DEBUG" />
	</Loggers>
</Configuration>